@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

img {
  width: 100%px; /* You can set the dimensions to whatever you want */
  height: 400px;
  object-fit: fill;
}

body {
  background-color: #212529;
}
